* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#iceCream-Container {
    display: flex;
    gap: 20px;
    width: 100vw;
    padding: 20px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#iceCream-Container > div {
    text-align: center;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
}

#iceCream-Container > div > * {
    margin: 10px
}

h2 {
    color: rgb(255, 0, 123);
}

h3 {
    font-size: 16px;
    font-weight: 400;
}

p {
    font-size: 30px;
}

button {
    padding: 8px;
    background-color: rgb(255, 0, 123);
    color: white;
    border-radius: 8px;
    border: none;

}

